# Project:  Human Development Index (HDI) Indicators from Gapminder

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
    <ul>
        <li><a href="#common_countries_python">Common Countries (Python)</a></li>
    </ul>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

The [Human Development Index](https://en.wikipedia.org/wiki/Human_Development_Index) (HDI) represents the standard-of-living in a country based on three indicators:
    - Life expectancy at birth (LEI),
    - Gross national income per capita (GNI),
    - Mean years of education (MEI & WEI for men and women).

The Gapminder database provides datasets for each of these indicators; however, the education level is given by two datasets based on gender rather than a single composite indicator as used in the calculation of the HDI.  The HDI ranges between 0 and 1.  The higher these indicators, the higher the HDI.  Accordingly, exploratory data analysis should reveal fairly strong correlations among them.  It would be interesting to see the relative strengths of these indicators with respect to the HDI.

In [1]:
import pandas as pd
import csv
from pprint import pprint
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

### General Properties

The datasets from Gapminder are
    - HDI:  Human Development Index
    - GNI:  Total GNI (PPP, current international $)
    - MEI:  Mean years in school (men 25 years and older)
    - WEI:  Mean years in school (women 25 years and older)
    - LEI:  Life expectancy at birth
converted from excel to csv format.

Rows for each dataset are a list of countries, and columns are years.  Which countries and years are included varied among the datasets, so an immediate task is to standardize these metrics for analysis.

In [2]:
def print_head(filename):
    """
    Print head of dataframe from filename.
    """
    indicator = filename.split('.')[1].split('/')[1]
    print('\nIndicator: {}'.format(indicator))
    df = pd.read_csv(filename)
    return (indicator,df)

data_files = ['./HDI.csv',  ## Human Development Index
              './LEI.csv',  ## Life Expectancy at birth
              './MEI.csv',  ## Mean Years in School (Men)
              './WEI.csv',  ## Mean Years in School (Women)
              './GNI.csv']  ## Gross National Income

example_indicators = {}
for data_file in data_files:
    indicator, df = print_head(data_file)
    example_indicators[indicator] = df
    print(df.head())

Indicator: HDI
                     HDI   1980   1990   2000   2005   2006   2007   2008  \
0            Afghanistan  0.198  0.246  0.230  0.340  0.354  0.363  0.370
1  Akrotiri and Dhekelia    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2                Albania    NaN  0.656  0.691  0.721  0.724  0.729  0.733
3                Algeria  0.454  0.551  0.624  0.667  0.673  0.680  0.686
4         American Samoa    NaN    NaN    NaN    NaN    NaN    NaN    NaN

    2009   2011
0  0.387  0.398
1    NaN    NaN
2  0.734  0.739
3  0.691  0.698
4    NaN    NaN

Indicator: LEI
  Life expectancy with projections  1765  1766  1767  1768  1769  1770  1771  \
0                      Afghanistan   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1                          Albania   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2                          Algeria   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3                   American Samoa   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4                          Andorra   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1772  1773   ...      2009    2010    2011    2012    2013    2014    2015  \
0   NaN   NaN   ...    59.124  59.612  60.079  60.524  60.947  61.347  61.726
1   NaN   NaN   ...    76.598  76.780  76.979  77.185  77.392  77.600  77.807
2   NaN   NaN   ...    70.477  70.615  70.747  70.874  71.000  71.123  71.246
3   NaN   NaN   ...       NaN     NaN     NaN     NaN     NaN     NaN     NaN
4   NaN   NaN   ...       NaN     NaN     NaN     NaN     NaN     NaN     NaN

     2025    2050    2099
0  64.758  69.467  75.492
1  79.832  83.543  89.070
2  72.380  74.897  80.569
3     NaN     NaN     NaN
4     NaN     NaN     NaN

[5 rows x 255 columns]

Indicator: MEI
            Row Labels  1970  1971  1972  1973  1974  1975  1976  1977  1978  \
0          Afghanistan   0.7   0.7   0.8   0.8   0.8   0.9   0.9   0.9   1.0
1              Albania   5.1   5.2   5.3   5.5   5.6   5.7   5.9   6.0   6.1
2              Algeria   0.9   0.9   1.0   1.1   1.1   1.2   1.2   1.3   1.4
3               Angola   1.4   1.5   1.5   1.6   1.7   1.7   1.8   1.9   2.0
4  Antigua and Barbuda   7.0   7.1   7.2   7.4   7.5   7.6   7.8   7.9   8.1

   ...   2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
0  ...    2.1   2.1   2.2   2.3   2.3   2.4   2.4   2.5   2.6   2.6
1  ...    9.1   9.2   9.4   9.5   9.6   9.8   9.9  10.0  10.1  10.2
2  ...    3.7   3.8   3.9   4.0   4.1   4.3   4.4   4.5   4.6   4.7
3  ...    4.0   4.1   4.3   4.4   4.5   4.6   4.7   4.9   5.0   5.1
4  ...   11.0  11.1  11.2  11.3  11.4  11.5  11.5  11.6  11.7  11.8

[5 rows x 41 columns]

Indicator: WEI
            Row Labels  1970  1971  1972  1973  1974  1975  1976  1977  1978  \
0          Afghanistan   0.0   0.1   0.1   0.1   0.1   0.1   0.1   0.1   0.1
1              Albania   3.9   4.0   4.1   4.2   4.3   4.5   4.6   4.7   4.8
2              Algeria   0.6   0.6   0.6   0.7   0.7   0.8   0.8   0.9   0.9
3               Angola   0.5   0.5   0.5   0.5   0.6   0.6   0.6   0.7   0.7
4  Antigua and Barbuda   7.0   7.1   7.2   7.4   7.5   7.7   7.8   8.0   8.1

   ...   2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
0  ...    0.2   0.3   0.3   0.3   0.3   0.3   0.3   0.3   0.3   0.4
1  ...    8.0   8.2   8.3   8.5   8.6   8.8   8.9   9.1   9.2   9.4
2  ...    3.0   3.1   3.2   3.4   3.5   3.6   3.8   3.9   4.0   4.2
3  ...    1.9   2.0   2.1   2.2   2.3   2.4   2.5   2.6   2.7   2.8
4  ...   11.2  11.4  11.5  11.6  11.7  11.8  11.9  12.0  12.1  12.2

[5 rows x 41 columns]

Indicator: GNI
  GNI per capita, PPP (current international $)  1961  1962  1963  1964  1965  \
0                                   Afghanistan   NaN   NaN   NaN   NaN   NaN
1                         Akrotiri and Dhekelia   NaN   NaN   NaN   NaN   NaN
2                                       Albania   NaN   NaN   NaN   NaN   NaN
3                                       Algeria   NaN   NaN   NaN   NaN   NaN
4                                American Samoa   NaN   NaN   NaN   NaN   NaN

   1966  1967  1968  1969   ...      2002    2003    2004    2005    2006  \
0   NaN   NaN   NaN   NaN   ...     490.0   590.0   650.0   750.0   890.0
1   NaN   NaN   NaN   NaN   ...       NaN     NaN     NaN     NaN     NaN
2   NaN   NaN   NaN   NaN   ...    4980.0  5350.0  5770.0  6220.0  7000.0
3   NaN   NaN   NaN   NaN   ...    5620.0  6040.0  6420.0  6810.0  7150.0
4   NaN   NaN   NaN   NaN   ...       NaN     NaN     NaN     NaN     NaN

     2007    2008    2009    2010    2011
0   970.0   860.0  1000.0  1060.0     NaN
1     NaN     NaN     NaN     NaN     NaN
2  7390.0  8280.0  8560.0  8570.0  8900.0
3  7660.0  7940.0  8240.0  8060.0  8370.0
4     NaN     NaN     NaN     NaN     NaN

[5 rows x 52 columns]

In [3]:
def print_first_line(filename):
    """
    Print Header and first row of filename.
    """
    
    indicator = filename.split('.')[1].split('/')[1]
    print('\nIndicator: {}'.format(indicator))
    with open(filename,'r') as f_in:
        file_reader = csv.DictReader(f_in)
        
        first_row = file_reader.__next__()
        
        pprint(first_row)
        
    return (indicator,first_row)

data_files = ['./HDI.csv',  ## Human Development Index
              './LEI.csv',  ## Life Expectancy at birth
              './MEI.csv',  ## Mean Years in School (Men)
              './WEI.csv',  ## Mean Years in School (Women)
              './GNI.csv']  ## Gross National Income

example_indicators = {}
for data_file in data_files:
    indicator, first_line = print_first_line(data_file)
    example_indicators[indicator] = first_line

Indicator: HDI
OrderedDict([('HDI', 'Afghanistan'),
             ('1980', '0.198'),
             ('1990', '0.246'),
             ('2000', '0.23'),
             ('2005', '0.34'),
             ('2006', '0.354'),
             ('2007', '0.363'),
             ('2008', '0.37'),
             ('2009', '0.387'),
             ('2011', '0.398')])

Indicator: LEI
OrderedDict([('Life expectancy with projections', 'Afghanistan'),
             ('1765', ''),
             ('1766', ''),
             ('1767', ''),
             ('1768', ''),
             ('1769', ''),
             ('1770', ''),
             ('1771', ''),
             ('1772', ''),
             ('1773', ''),
             ('1774', ''),
             ('1775', ''),
             ('1776', ''),
             ('1777', ''),
             ('1778', ''),
             ('1779', ''),
             ('1780', ''),
             ('1781', ''),
             ('1782', ''),
             ('1783', ''),
             ('1784', ''),
             ('1785', ''),
             ('1786', ''),
             ('1787', ''),
             ('1788', ''),
             ('1789', ''),
             ('1790', ''),
             ('1791', ''),
             ('1792', ''),
             ('1793', ''),
             ('1794', ''),
             ('1795', ''),
             ('1796', ''),
             ('1797', ''),
             ('1798', ''),
             ('1799', ''),
             ('1800', '28.211'),
             ('1801', '28.20075333'),
             ('1802', '28.19050667'),
             ('1803', '28.18026'),
             ('1804', '28.17001333'),
             ('1805', '28.15976667'),
             ('1806', '28.14952'),
             ('1807', '28.13927333'),
             ('1808', '28.12902667'),
             ('1809', '28.11878'),
             ('1810', '28.10853333'),
             ('1811', '28.09828667'),
             ('1812', '28.08804'),
             ('1813', '28.07779333'),
             ('1814', '28.06754667'),
             ('1815', '28.0573'),
             ('1816', '28.04705333'),
             ('1817', '28.03680667'),
             ('1818', '28.02656'),
             ('1819', '28.01631333'),
             ('1820', '28.00606667'),
             ('1821', '27.99582'),
             ('1822', '27.98557333'),
             ('1823', '27.97532667'),
             ('1824', '27.96508'),
             ('1825', '27.95483333'),
             ('1826', '27.94458667'),
             ('1827', '27.93434'),
             ('1828', '27.92409333'),
             ('1829', '27.91384667'),
             ('1830', '27.9036'),
             ('1831', '27.89335333'),
             ('1832', '27.88310667'),
             ('1833', '27.87286'),
             ('1834', '27.86261333'),
             ('1835', '27.85236667'),
             ('1836', '27.84212'),
             ('1837', '27.83187333'),
             ('1838', '27.82162667'),
             ('1839', '27.81138'),
             ('1840', '27.80113333'),
             ('1841', '27.79088667'),
             ('1842', '27.78064'),
             ('1843', '27.77039333'),
             ('1844', '27.76014667'),
             ('1845', '27.7499'),
             ('1846', '27.73965333'),
             ('1847', '27.72940667'),
             ('1848', '27.71916'),
             ('1849', '27.70891333'),
             ('1850', '27.69866667'),
             ('1851', '27.68842'),
             ('1852', '27.67817333'),
             ('1853', '27.66792667'),
             ('1854', '27.65768'),
             ('1855', '27.64743333'),
             ('1856', '27.63718667'),
             ('1857', '27.62694'),
             ('1858', '27.61669333'),
             ('1859', '27.60644667'),
             ('1860', '27.5962'),
             ('1861', '27.58595333'),
             ('1862', '27.57570667'),
             ('1863', '27.56546'),
             ('1864', '27.55521333'),
             ('1865', '27.54496667'),
             ('1866', '27.53472'),
             ('1867', '27.52447333'),
             ('1868', '27.51422667'),
             ('1869', '27.50398'),
             ('1870', '27.49373333'),
             ('1871', '27.48348667'),
             ('1872', '27.47324'),
             ('1873', '27.46299333'),
             ('1874', '27.45274667'),
             ('1875', '27.4425'),
             ('1876', '27.43225333'),
             ('1877', '27.42200667'),
             ('1878', '27.41176'),
             ('1879', '27.40151333'),
             ('1880', '27.39126667'),
             ('1881', '27.38102'),
             ('1882', '27.37077333'),
             ('1883', '27.36052667'),
             ('1884', '27.35028'),
             ('1885', '27.34003333'),
             ('1886', '27.32978667'),
             ('1887', '27.31954'),
             ('1888', '27.30929333'),
             ('1889', '27.29904667'),
             ('1890', '27.2888'),
             ('1891', '27.27855333'),
             ('1892', '27.26830667'),
             ('1893', '27.25806'),
             ('1894', '27.24781333'),
             ('1895', '27.23756667'),
             ('1896', '27.22732'),
             ('1897', '27.21707333'),
             ('1898', '27.20682667'),
             ('1899', '27.19658'),
             ('1900', '27.18633333'),
             ('1901', '27.17608667'),
             ('1902', '27.16584'),
             ('1903', '27.15559333'),
             ('1904', '27.14534667'),
             ('1905', '27.1351'),
             ('1906', '27.12485333'),
             ('1907', '27.11460667'),
             ('1908', '27.10436'),
             ('1909', '27.09411333'),
             ('1910', '27.08386667'),
             ('1911', '27.07362'),
             ('1912', '27.06337333'),
             ('1913', '27.05312667'),
             ('1914', '27.04288'),
             ('1915', '27.03263333'),
             ('1916', '27.02238667'),
             ('1917', '27.01214'),
             ('1918', '7.04506271'),
             ('1919', '26.99164667'),
             ('1920', '26.9814'),
             ('1921', '26.97115333'),
             ('1922', '26.96090667'),
             ('1923', '26.95066'),
             ('1924', '26.94041333'),
             ('1925', '26.93016667'),
             ('1926', '26.91992'),
             ('1927', '26.90967333'),
             ('1928', '26.89942667'),
             ('1929', '26.88918'),
             ('1930', '26.87893333'),
             ('1931', '26.86868667'),
             ('1932', '26.85844'),
             ('1933', '26.84819333'),
             ('1934', '26.83794667'),
             ('1935', '26.8277'),
             ('1936', '26.81745333'),
             ('1937', '26.80720667'),
             ('1938', '26.79696'),
             ('1939', '26.78671333'),
             ('1940', '26.77646667'),
             ('1941', '26.76622'),
             ('1942', '26.75597333'),
             ('1943', '26.74572667'),
             ('1944', '26.73548'),
             ('1945', '26.72523333'),
             ('1946', '26.71498667'),
             ('1947', '26.70474'),
             ('1948', '26.69449333'),
             ('1949', '26.68424667'),
             ('1950', '26.674'),
             ('1951', '26.932'),
             ('1952', '27.448'),
             ('1953', '27.964'),
             ('1954', '28.48'),
             ('1955', '28.995'),
             ('1956', '29.511'),
             ('1957', '30.027'),
             ('1958', '30.543'),
             ('1959', '31.059'),
             ('1960', '31.575'),
             ('1961', '32.091'),
             ('1962', '32.608'),
             ('1963', '33.124'),
             ('1964', '33.639'),
             ('1965', '34.152'),
             ('1966', '34.662'),
             ('1967', '35.17'),
             ('1968', '35.674'),
             ('1969', '36.172'),
             ('1970', '36.663'),
             ('1971', '37.143'),
             ('1972', '37.614'),
             ('1973', '38.075'),
             ('1974', '38.529'),
             ('1975', '38.977'),
             ('1976', '39.417'),
             ('1977', '39.855'),
             ('1978', '40.298'),
             ('1979', '40.756'),
             ('1980', '41.242'),
             ('1981', '41.77'),
             ('1982', '42.347'),
             ('1983', '42.977'),
             ('1984', '43.661'),
             ('1985', '44.4'),
             ('1986', '45.192'),
             ('1987', '46.024'),
             ('1988', '46.88'),
             ('1989', '47.744'),
             ('1990', '48.601'),
             ('1991', '49.439'),
             ('1992', '50.247'),
             ('1993', '51.017'),
             ('1994', '51.738'),
             ('1995', '52.4'),
             ('1996', '52.995'),
             ('1997', '53.527'),
             ('1998', '54.009'),
             ('1999', '54.449'),
             ('2000', '54.863'),
             ('2001', '55.271'),
             ('2002', '55.687'),
             ('2003', '56.122'),
             ('2004', '56.583'),
             ('2005', '57.071'),
             ('2006', '57.582'),
             ('2007', '58.102'),
             ('2008', '58.618'),
             ('2009', '59.124'),
             ('2010', '59.612'),
             ('2011', '60.079'),
             ('2012', '60.524'),
             ('2013', '60.947'),
             ('2014', '61.347'),
             ('2015', '61.726'),
             ('2025', '64.758'),
             ('2050', '69.467'),
             ('2099', '75.492')])

Indicator: MEI
OrderedDict([('Row Labels', 'Afghanistan'),
             ('1970', '0.7'),
             ('1971', '0.7'),
             ('1972', '0.8'),
             ('1973', '0.8'),
             ('1974', '0.8'),
             ('1975', '0.9'),
             ('1976', '0.9'),
             ('1977', '0.9'),
             ('1978', '1'),
             ('1979', '1'),
             ('1980', '1.1'),
             ('1981', '1.1'),
             ('1982', '1.2'),
             ('1983', '1.2'),
             ('1984', '1.3'),
             ('1985', '1.3'),
             ('1986', '1.4'),
             ('1987', '1.4'),
             ('1988', '1.4'),
             ('1989', '1.5'),
             ('1990', '1.5'),
             ('1991', '1.6'),
             ('1992', '1.6'),
             ('1993', '1.7'),
             ('1994', '1.8'),
             ('1995', '1.8'),
             ('1996', '1.9'),
             ('1997', '1.9'),
             ('1998', '2'),
             ('1999', '2'),
             ('2000', '2.1'),
             ('2001', '2.1'),
             ('2002', '2.2'),
             ('2003', '2.3'),
             ('2004', '2.3'),
             ('2005', '2.4'),
             ('2006', '2.4'),
             ('2007', '2.5'),
             ('2008', '2.6'),
             ('2009', '2.6')])

Indicator: WEI
OrderedDict([('Row Labels', 'Afghanistan'),
             ('1970', '0'),
             ('1971', '0.1'),
             ('1972', '0.1'),
             ('1973', '0.1'),
             ('1974', '0.1'),
             ('1975', '0.1'),
             ('1976', '0.1'),
             ('1977', '0.1'),
             ('1978', '0.1'),
             ('1979', '0.1'),
             ('1980', '0.1'),
             ('1981', '0.1'),
             ('1982', '0.1'),
             ('1983', '0.1'),
             ('1984', '0.1'),
             ('1985', '0.1'),
             ('1986', '0.1'),
             ('1987', '0.1'),
             ('1988', '0.1'),
             ('1989', '0.1'),
             ('1990', '0.1'),
             ('1991', '0.2'),
             ('1992', '0.2'),
             ('1993', '0.2'),
             ('1994', '0.2'),
             ('1995', '0.2'),
             ('1996', '0.2'),
             ('1997', '0.2'),
             ('1998', '0.2'),
             ('1999', '0.2'),
             ('2000', '0.2'),
             ('2001', '0.3'),
             ('2002', '0.3'),
             ('2003', '0.3'),
             ('2004', '0.3'),
             ('2005', '0.3'),
             ('2006', '0.3'),
             ('2007', '0.3'),
             ('2008', '0.3'),
             ('2009', '0.4')])

Indicator: GNI
OrderedDict([('GNI per capita, PPP (current international $)', 'Afghanistan'),
             ('1961', ''),
             ('1962', ''),
             ('1963', ''),
             ('1964', ''),
             ('1965', ''),
             ('1966', ''),
             ('1967', ''),
             ('1968', ''),
             ('1969', ''),
             ('1970', ''),
             ('1971', ''),
             ('1972', ''),
             ('1973', ''),
             ('1974', ''),
             ('1975', ''),
             ('1976', ''),
             ('1977', ''),
             ('1978', ''),
             ('1979', ''),
             ('1980', ''),
             ('1981', ''),
             ('1982', ''),
             ('1983', ''),
             ('1984', ''),
             ('1985', ''),
             ('1986', ''),
             ('1987', ''),
             ('1988', ''),
             ('1989', ''),
             ('1990', ''),
             ('1991', ''),
             ('1992', ''),
             ('1993', ''),
             ('1994', ''),
             ('1995', ''),
             ('1996', ''),
             ('1997', ''),
             ('1998', ''),
             ('1999', ''),
             ('2000', ''),
             ('2001', ''),
             ('2002', '490'),
             ('2003', '590'),
             ('2004', '650'),
             ('2005', '750'),
             ('2006', '890'),
             ('2007', '970'),
             ('2008', '860'),
             ('2009', '1000'),
             ('2010', '1060'),
             ('2011', '')])

Initial exploration of the data revealed that most of the countries in the datasets had data, although the years for which that data was available varied quite a bit.

We use data from the year 2009 because that is the latest given in the "Mean years in school" datasets.  It is also one of the most populated among the datasets, providing more data to work with.  We also print out the number of countries in each dataset for informational purposes because we will want a common set of countries for all data.

<a id='common_countries_pandas'></a>
### Common Countries (Pandas)
Here I am trying to get a dataframe that has the row format "Country Indicator1 Indicator2 Indicator3 ...".  I want a common set of countries so that all the data spots are filled with the appropriate indicator data.  I am trying to figure out how to go from the separate dataframes for each indicator (each of which has a different set of countries) to one large concatenated data frame with the countries common to all the indicator data frames.

In [14]:
def indicator_data_file(indicator_file):
    
    indicator = indicator_file.split('.')[1].split('/')[1]
    print('\nIndicator: {}'.format(indicator))
    df = pd.read_csv(indicator_file)
    return df.filter(regex='HDI|Row Labels|Life expectancy|GNI per capita|2009').dropna()  ## Use row labels

data = {}
countries = {}
data['HDI'] = indicator_data_file('./HDI.csv')
data['HDI'].rename(index=str, columns={"HDI": "Country"})
countries['HDI'] = data['HDI'].iloc[:,[0]]
data['LEI'] = indicator_data_file('./LEI.csv')
countries['LEI'] = data['LEI'].iloc[:,[0]]
data['MEI'] = indicator_data_file('./MEI.csv')
countries['MEI'] = data['MEI'].iloc[:,[0]]
data['WEI'] = indicator_data_file('./WEI.csv')
countries['WEI'] = data['WEI'].iloc[:,[0]]
data['GNI'] = indicator_data_file('./GNI.csv')
countries['GNI'] = data['GNI'].iloc[:,[0]]

data['HDI']

#common_countries = countries['LEI'] & countries['HDI'] & countries['MEI'] & countries['GNI']
#print("Number of common countries: {}".format(len(common_countries)))
#pd.concat([data['HDI'],data['LEI']], axis=1)

Indicator: HDI

Indicator: LEI

Indicator: MEI

Indicator: WEI

Indicator: GNI

                          HDI   2009
0                 Afghanistan  0.387
2                     Albania  0.734
3                     Algeria  0.691
6                      Angola  0.481
9                   Argentina  0.788
10                    Armenia  0.712
12                  Australia  0.926
13                    Austria  0.879
15                    Bahamas  0.769
16                    Bahrain  0.805
17                 Bangladesh  0.491
18                   Barbados  0.790
19                    Belarus  0.746
20                    Belgium  0.883
21                     Belize  0.696
22                      Benin  0.422
25                    Bolivia  0.656
26     Bosnia and Herzegovina  0.730
27                   Botswana  0.626
28                     Brazil  0.708
30                     Brunei  0.835
31                   Bulgaria  0.766
32               Burkina Faso  0.326
33                    Burundi  0.308
34                   Cambodia  0.513
35                   Cameroon  0.475
36                     Canada  0.903
37                 Cape Verde  0.564
39   Central African Republic  0.334
40                       Chad  0.323
..                        ...    ...
209                     Spain  0.874
210                 Sri Lanka  0.680
211                     Sudan  0.403
212                  Suriname  0.674
214                 Swaziland  0.515
215                    Sweden  0.898
216               Switzerland  0.899
217                     Syria  0.630
219                Tajikistan  0.600
220                  Tanzania  0.454
221                  Thailand  0.673
222               Timor-Leste  0.487
223                      Togo  0.429
225                     Tonga  0.701
227       Trinidad and Tobago  0.755
228                   Tunisia  0.692
229                    Turkey  0.690
230              Turkmenistan  0.677
233                    Uganda  0.438
234                   Ukraine  0.720
235      United Arab Emirates  0.841
236            United Kingdom  0.860
237             United States  0.906
238                   Uruguay  0.773
240                Uzbekistan  0.631
243                 Venezuela  0.732
247                   Vietnam  0.584
251                     Yemen  0.452
253                    Zambia  0.419
254                  Zimbabwe  0.349

[174 rows x 2 columns]

In [6]:
def indicator_file_data(indicator_file):
    
    indicator = indicator_file.split('.')[1].split('/')[1]
    print('\nIndicator: {}'.format(indicator))
    with open(indicator_file,'r') as f_in:
        file_reader = csv.DictReader(f_in)
  
        dct = {}
        cnt = 0
        for row in file_reader:
            if row['2009'] != '':  ## Skip countries (keys) that do not have values for 2009
                if indicator == 'GNI':
                    key = row["GNI per capita, PPP (current international $)"]
                elif indicator == 'LEI':
                    key = row['Life expectancy with projections']
                elif indicator == 'HDI':
                    key = row['HDI']
                else:  ## MEI & WEI datasets have same set of countries
                    key = row['Row Labels']
                dct[key] = row['2009']
                cnt += 1  ## Number of countries in dataset

        print('Cnt: {}'.format(cnt))
        return dct

<a id='common_countries_python'></a>
### Common Countries (Python)
We can use **set intersection** to find the countries that all the datasets have in common, so that we'll have a final dataset with all fields filled in.

With plain Python, I am able to find the set of countries that are common to all the indicator datasets, which I can use to make dictionaries with the same countries, but different data points, and, the, finally, write out to a single summary file in the format (Country Indicator1 Indicator2 Indicator3 ...) shown in <a href="#common_countries_pandas">Common Countries (Pandas)</a> above.

In [4]:
data = {}
countries = {}
data['HDI'] = indicator_file_data('./HDI.csv')
countries['HDI'] = set(data['HDI'].keys())
data['LEI'] = indicator_file_data('./LEI.csv')
countries['LEI'] = set(data['LEI'].keys())
data['MEI'] = indicator_file_data('./MEI.csv')
countries['MEI'] = set(data['MEI'].keys())  
data['WEI'] = indicator_file_data('./WEI.csv')
countries['WEI'] = set(data['WEI'].keys())  
data['GNI'] = indicator_file_data('./GNI.csv')
countries['GNI'] = set(data['GNI'].keys())

common_countries = countries['LEI'] & countries['HDI'] & countries['MEI'] & countries['GNI']
print("Number of common countries: {}".format(len(common_countries)))

Indicator: HDI
Cnt: 174

Indicator: LEI
Cnt: 202

Indicator: MEI
Cnt: 175

Indicator: WEI
Cnt: 175

Indicator: GNI
Cnt: 182
Number of common countries: 155

We use **dictionary completion** to pare down the datasets to data for the countries they share in common.

In [5]:
def get_common_country_data(dataset,common):
    """
    Return a dictionary for common countries.
    """
    return { key: dataset[key] for key in common }

In [6]:
new_data = {}
new_data['HDI'] = get_common_country_data(data['HDI'],common_countries)
new_data['LEI'] = get_common_country_data(data['LEI'],common_countries)
new_data['MEI'] = get_common_country_data(data['MEI'],common_countries)
new_data['WEI'] = get_common_country_data(data['WEI'],common_countries)
new_data['GNI'] = get_common_country_data(data['GNI'],common_countries)
new_data['HDI']

{'Afghanistan': '0.387',
 'Albania': '0.734',
 'Algeria': '0.691',
 'Angola': '0.481',
 'Argentina': '0.788',
 'Armenia': '0.712',
 'Australia': '0.926',
 'Austria': '0.879',
 'Bahamas': '0.769',
 'Bahrain': '0.805',
 'Bangladesh': '0.491',
 'Belarus': '0.746',
 'Belgium': '0.883',
 'Belize': '0.696',
 'Benin': '0.422',
 'Bolivia': '0.656',
 'Bosnia and Herzegovina': '0.73',
 'Botswana': '0.626',
 'Brazil': '0.708',
 'Bulgaria': '0.766',
 'Burkina Faso': '0.326',
 'Burundi': '0.308',
 'Cambodia': '0.513',
 'Cameroon': '0.475',
 'Canada': '0.903',
 'Cape Verde': '0.564',
 'Chad': '0.323',
 'Chile': '0.798',
 'China': '0.674',
 'Colombia': '0.702',
 'Comoros': '0.43',
 'Congo, Dem. Rep.': '0.277',
 'Congo, Rep.': '0.523',
 'Costa Rica': '0.738',
 "Cote d'Ivoire": '0.397',
 'Croatia': '0.793',
 'Cyprus': '0.837',
 'Denmark': '0.891',
 'Djibouti': '0.425',
 'Ecuador': '0.716',
 'Egypt': '0.638',
 'El Salvador': '0.669',
 'Equatorial Guinea': '0.534',
 'Estonia': '0.828',
 'Ethiopia': '0.353',
 'Fiji': '0.685',
 'Finland': '0.877',
 'France': '0.88',
 'Gabon': '0.664',
 'Gambia': '0.413',
 'Georgia': '0.724',
 'Germany': '0.9',
 'Ghana': '0.527',
 'Greece': '0.863',
 'Guatemala': '0.569',
 'Guinea': '0.341',
 'Guinea-Bissau': '0.348',
 'Guyana': '0.624',
 'Haiti': '0.449',
 'Honduras': '0.619',
 'Hungary': '0.811',
 'India': '0.535',
 'Indonesia': '0.607',
 'Iran': '0.703',
 'Iraq': '0.565',
 'Ireland': '0.905',
 'Israel': '0.884',
 'Italy': '0.87',
 'Jamaica': '0.724',
 'Japan': '0.895',
 'Jordan': '0.694',
 'Kazakhstan': '0.733',
 'Kenya': '0.499',
 'Kuwait': '0.757',
 'Latvia': '0.798',
 'Lebanon': '0.733',
 'Lesotho': '0.44',
 'Liberia': '0.32',
 'Lithuania': '0.802',
 'Luxembourg': '0.863',
 'Macedonia, FYR': '0.725',
 'Madagascar': '0.483',
 'Malawi': '0.387',
 'Malaysia': '0.752',
 'Maldives': '0.65',
 'Mali': '0.352',
 'Mauritania': '0.447',
 'Mauritius': '0.722',
 'Mexico': '0.762',
 'Moldova': '0.638',
 'Mongolia': '0.642',
 'Montenegro': '0.768',
 'Morocco': '0.575',
 'Mozambique': '0.312',
 'Namibia': '0.617',
 'Nepal': '0.449',
 'Netherlands': '0.905',
 'New Zealand': '0.906',
 'Nicaragua': '0.582',
 'Niger': '0.285',
 'Nigeria': '0.449',
 'Norway': '0.941',
 'Oman': '0.703',
 'Pakistan': '0.499',
 'Panama': '0.76',
 'Papua New Guinea': '0.457',
 'Paraguay': '0.651',
 'Peru': '0.714',
 'Philippines': '0.636',
 'Poland': '0.807',
 'Portugal': '0.805',
 'Qatar': '0.818',
 'Romania': '0.778',
 'Russia': '0.747',
 'Rwanda': '0.419',
 'Samoa': '0.685',
 'Sao Tome and Principe': '0.503',
 'Saudi Arabia': '0.763',
 'Senegal': '0.453',
 'Serbia': '0.761',
 'Seychelles': '0.767',
 'Sierra Leone': '0.329',
 'Singapore': '0.856',
 'Slovak Republic': '0.829',
 'Slovenia': '0.876',
 'Solomon Islands': '0.504',
 'South Africa': '0.61',
 'Spain': '0.874',
 'Sri Lanka': '0.68',
 'Sudan': '0.403',
 'Suriname': '0.674',
 'Swaziland': '0.515',
 'Sweden': '0.898',
 'Switzerland': '0.899',
 'Syria': '0.63',
 'Tajikistan': '0.6',
 'Tanzania': '0.454',
 'Thailand': '0.673',
 'Timor-Leste': '0.487',
 'Togo': '0.429',
 'Tonga': '0.701',
 'Trinidad and Tobago': '0.755',
 'Tunisia': '0.692',
 'Turkey': '0.69',
 'Turkmenistan': '0.677',
 'Uganda': '0.438',
 'Ukraine': '0.72',
 'United Arab Emirates': '0.841',
 'United Kingdom': '0.86',
 'United States': '0.906',
 'Uruguay': '0.773',
 'Uzbekistan': '0.631',
 'Venezuela': '0.732',
 'Vietnam': '0.584',
 'Zambia': '0.419'}

At this point, we write the data from the indicator datasets to a single file `HDI_indicators.csv` with the indicators as fields.

In [10]:
def collate_data(hdi_data, lei_data, mei_data, wei_data, gni_data):
    """
    Collate the indicator datasets into the output file HDI_indicators.csv
    """
    with open('./HDI_indicators.csv', 'w') as f_out:
        out_colnames = ['Country','HDI','LEI','CEI','GNI']
        data_writer = csv.DictWriter(f_out, fieldnames = out_colnames)
        data_writer.writeheader()
        
        ## Merge the data dictionaries on a common key
        dicts = [[],[],[],[],[]]
        dicts[0] = hdi_data
        dicts[1] = lei_data
        dicts[2] = mei_data
        dicts[3] = wei_data
        dicts[4] = gni_data
        
        ## Then, write the list values as fields in data_writer
        dictlist = { k: [d[k] for d in dicts] for k in dicts[0] }
        for key, value in dictlist.items():
            point = {}
            point['Country'] = key
            point['HDI'] = value[0]
            point['LEI'] = value[1]
            point['CEI'] = (float(value[2])+float(value[3]))/2.0  ## Average MEI and CEI Education indicators
            point['GNI'] = value[4]
            data_writer.writerow(point)

In [11]:
## Create collated data file for analysis
collate_data(new_data['HDI'],new_data['LEI'],new_data['MEI'],new_data['WEI'],new_data['GNI'])

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!